#footer {
    #main-footer {
        background: url("../images/back-footer.png") no-repeat center;
        background-size: cover;
        .container {
            padding: 80px 20px;

            p, h2 {
                color: white;
                text-align: center;
                font-size: 18px;
            }

            h2 {
                text-transform: none;
                font-size: 45px;
            }

            form {
                .input-field {
                    width: 700px;
                    max-width: 100%;
                    margin: auto;

                    input {
                        margin-top: 50px;
                        max-width: 480px;
                        height: 45px;
                        background-color: white;
                        padding: 0px 15px;
                        color: lighten( #5D5D5D, 10%);
                        border: none;
                        box-sizing: border-box;
                    }
                    button {
                        height: 45px;
                        margin-top: -4px;
                        margin-left: -3px;

                        @media (max-width: 768px) {
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
    }
    #copy-right {
        background-color: @blue-dark;

        .container {
            .row {
                margin: 0;

                div {
                     p {
                        .relative;
                        color: white;
                        line-height: 4em;
                        text-align: center;
                        margin: 0;
                        font-weight: bold;

                        span { color: @blue-baby; }
                        img {
                            width: 60px;
                            top: 10px;
                             .absolute;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    #footer {
        #main-footer {
            .container {
                padding: 20px 0;

                h2 { font-size: 30px;}
                p {font-size: 16px;}

                form {
                    .input-field {
                        width: 300px;

                        input { width: 100%; }
                        button { width: 100%; }
                    }
                }
            }
        }

        #copy-right {
            .container {
                .row {
                    padding: 15px 0;

                    div {
                        p {
                            font-size: 10px;
                            line-height: 2em;

                            img { position: relative; width: 50px; }
                        }
                    }
                }
            }
        }
    }
}
