#header {
    .relative;
    z-index: 999;
    font-family: @font-title, Arial, sans-serif;


    #menu-main {
        background-color: white;
        height: 120px;

        .container {
            #menu-aux {
                .right {
                    margin-right: 15px;
                    line-height: 38px;

                    li {
                        .phone {
                            font-family: @font-text, Arial, sans-serif;
                            color: silver;
                            margin-top: 2px;
                            i {
                                margin-right: 5px;
                            }
                            &:hover {
                                background-color: #fff;
                            }
                        }
                        a {
                            font-size: 14px;
                            line-height: 40px;

                            i { height: 0; }
                        }

                        button {
                            height: 40px;
                            width: 42px;
                            border: none;
                        }
                        button:focus {background-color: #3B5998;}
                    }
                    .large { padding: 0px 40px;}
                }
            }
            .nav-wrapper {
                .brand-logo {

                    &:hover {
                        .transform(~"scale(1.1)");
                    }
                    margin-top: 12px;

                    img { max-width: 180px; }
                }
                .hide-on-med-and-down {
                    margin-top: 12px;

                    li {
                        a {
                            font-size: 14px;
                            color: #000;
                            -webkit-transition:  margin 0.5s, color 0.5s ease;
                            transition: margin 0.5s, color 0.5s ease;

                            &:hover {
                                color: @blue-light;
                                background: none;
                            }
                        }
                        ul {
                           width: 200px;
                           display: none;
                           //opacity: 0;
                           //transition: opacity .5s ease;
                           //-webkit-transition: opacity .5s ease;
                           background-color: white;
                           position: absolute;
                           z-index: 30;
                           border-top: 4px solid @blue-light;

                           li {
                                line-height: 3;

                                a:hover {
                                    margin-left: 5px;
                                }
                           }

                           li:not(:last-child) {
                               border-bottom: 1px solid gray;
                           }
                        }
                        &:hover{
                           ul {
                                //opacity: 1;
                                display: block;
                            }
                        }
                    }
                }
            }

            #mobile-demo {
                li {
                    .search-wrapper {
                        margin: 15px 10px;

                        input {
                            width: 190px;
                            padding: 0px 50px 0px 10px;
                            border-bottom: 2px solid @blue-dark;
                            color: lighten( #5D5D5D, 10%);
                        }

                        button {
                            border: none;

                            i {
                                top: 43px;
                                right: 15px;
                                line-height: 0;
                                .absolute;
                                cursor: pointer;
                                font-size: 20px;
                                color: @blue-dark;
                            }
                        }

                    }
                    a {
                       color: lighten( #5D5D5D, 30%);
                       font-weight: bold;
                    }

                   .btn { color: white; }
                }
            }
        }
    }
    .search-bar {
        width: 96%;
        margin-right: 15px;
        z-index: 1000;
        position: absolute;
        display: none;

        .input-field {
            margin: 0px;
            background:rgba(0,0,0,0.6);

            input {
                width: 90%;
                margin: 0px;
                border: none;
                padding: 15px 20px;
                color: white;
            }
            i {
                margin: 23px;
                cursor: pointer;
                float: right;
                color: white;
                background-color: transparent;
                border: none;
                font-size: 28px;
            }
        }
    }
}

@media (max-width: 1200px) {
    #header {
        #menu-main {
            .container {
                .nav-wrapper {
                    .hide-on-med-and-down {
                        li {
                            a {
                                padding: 0 9px;
                                font-size: 13px;
                            }
                            &:not(:last-child){
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 992px) {
    #header {
        #menu-aux { display: none; }

        #menu-main {
            height: 64px;

            .container {
                .nav-wrapper {
                    .button-collapse { color: @blue-dark; }

                    .brand-logo {
                        margin-top: 8px;

                        img { width: 100px; }
                    }
                }
            }
        }
    }
}
