#home {
	#noticias {
		.row {
			div {
				padding: 0px 30px;
				margin-bottom: 25px;
				
				a {
					figure {
						overflow: hidden;

						img {
							max-width: 100%;
							margin: auto;
							display: block;
							margin-top: 10px;
							
							.transition(all, .2s, ease-in);
						}
						figcaption {
							.relative;
							margin-top: -25px;
							display: block;
							text-align: center;

							span {
								display: inline-block;
								padding: 12px 22px;
								background-color: @blue-light;
								color: #fff;
								.uppercase;
							}
						}
	       			}
	       			&:hover {
						figure {
							img {
                        		opacity: .8;
							}
						}
					}
				}
				
				p {
					margin-top: 20px;
					text-align: center;
					font-weight: bold;
					color: #515151;
				}
			}
		}
	}

	#como-comprar {
		background-color: @blue-dark;
				 
		.container {
		 	.title {
		 		color: white;

		 		span { background-color: @blue-dark; }
		 		
		 		&:after { border-top: 1px solid white; }
		 	}

			.row {
				div {
					padding: 10px 30px;

					img {
						margin: auto;
						display: block;
					}

					.subtitle {
						margin: 25px 0;
						text-align: center;
						font-weight: bold;

					}
					p { color: white; }
				}
			}
		}
	}

	.marcas {
        .container-marcas {
           .relative;

            .arrow {
            	.absolute;
            	top: 30px;
            	font-size: 50px;
            	color: black;

            	&.left { left: 0px; }
            	&.right { right: 0px; } 
            }


            .template-marcas {
            	margin: 0 30px;

                .item {
                    width: 240px;
                    height: 135px;
                    padding: 0 15px;
                    text-align: center;
                    overflow: hidden;
                    line-height: 135px;

                    img { vertical-align: middle; }
                    &:hover { background-color: #e9e9e9; }
                }
            }
        }
    }
}


@media (max-width: 768px) {
	#home {
		#como-comprar {
			.container {
				.row {
					div {
						margin-bottom: 30px;
						p { text-align: center; }
					}
				}
			}
		}
	}
}