#nfe {
	.container {
		.row {
			.box {
				.subtitulo { margin: 0px 0px 30px 0px; }
				.btn-rounded {
					float: right;
					border-radius: 3px;
				}
			}
		}
	}
}


@media (max-width: 768px) {
	#nfe {
		.container {
			.row {
				.box {
					margin-bottom: 50px;
				}
			}
		}
	}
}