/* PADRÃO PARA TODOS OS TITULOS DA PAGINA
   ========================================================================== */


.title {
    position: relative;
    margin-bottom: 100px;
}

.title span {
    background-color: @background;
    position: relative;
    z-index: 1;
    padding-right: 20px;
}

.title:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: 0;
}

// .title {
//     overflow: hidden;
// }

// .title:after {
//     content:"";
//     display: inline-block;
//     height: 0.5em;
//     vertical-align: bottom;
//     width: 100%;
//     margin-right: -100%;
//     margin-left: 10px;
//     border-top: 1px solid black;
// }

@media (max-width: 768px) {

    .title { 
        font-size: 25px;
        text-align: center;

        &:after {display: none;}

        span {padding: 0;} 
    }
}